@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$lower-case-text: 'Bebas Neue', cursive;

$main-color: #A6384C;
$secondary-color: #BB8C94;
$tertiary-color: #CD5D71;
$main-button-color: #AE4659;
$text-color: #FFFF;
$background-color-text: #582B74;

$border-radius: 15px;
